@import "tailwindcss";

:root {
  background-color: #0A0F1E;
  color: #F8FAFC;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar minimalista industrial */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0A0F1E;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B82F6;
}